.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modal.open {
    display: flex;
  }
  
  .modalContent {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    >input{
      width: 200px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 25px;
      padding: 20px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      color: #fff;
    }
    >button{
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 25px;
      max-width: 250px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      color: #fff;
    }
  }
  
  .closeBtn {
    margin-top: 10px;
  }